// @import "~office-ui-fabric-react/dist/sass/Fabric.Common";

.todoListItem {
  border-width: 1px;
  // border-color: $ms-color-neutralTertiaryAlt;
  border-style: solid;

  .itemTaskRow {
    padding: 16px 20px 8px 20px;

    @media (max-width: 600px) {
      padding: 8px 20px 8px 4px;
    }

    .deleteButton {
      &:hover,
      &:focus {
        // color: $ms-color-themePrimary;
        color: inherit;
      }
    }

    .checkbox {
      :global .ms-Label {
        // color: $ms-color-neutralPrimary;
        font-size: 18px;
        padding: 0 0 0 36px;
      }
    }

    &.isCompleted {
      background-color: inherit;
      // background-color: $ms-color-neutralLighter;
    }
  }
}
