// @import "~/office-ui-fabric-core/dist/sass/Fabric.Scoped.scss";

.todoList {
  margin-top: 20px;
  border-top-width: 1px;
  // border-top-color: $ms-color-neutralTertiaryAlt;
  border-top-color: #c8c8c8;
  border-top-style: solid;
}
